## DF1 - Daily stock prices
For this first section, we are using Yahoo Finance to make a pandas dataframe with the 25 companies of c25

In [15]:
#Installing dependencies
!pip install  yfinance
!pip install  pandas
!pip install  requests
!pip install  bs4


import pandas as pd
import yfinance as yf
import datetime
import requests 
from bs4 import BeautifulSoup

Requirement already satisfied: yfinance in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (0.2.3)
Requirement already satisfied: pandas>=1.3.0 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.5.2)
Requirement already satisfied: numpy>=1.16.5 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.21.5)
Requirement already satisfied: pytz>=2022.5 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2022.7)
Requirement already satisfied: lxml>=4.9.1 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: frozendict>=2.3.4 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.3.4)
Requirement already satisfied: html5lib>=1.1 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.1)
Requirement already satisfied: requests>=2.26 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.28.1)
Requirement already satisfied: cryptography>=3.3.2 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (3.4.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.11.1)
Requirement already satisfied: appdirs>=1.4.4 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: soupsieve>1.2 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from cryptography>=3.3.2->yfinance) (1.15.0)
Requirement already satisfied: pycparser in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: six>=1.9 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2022.9.14)
Requirement already satisfied: pandas in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.20.3 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: requests in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from requests) (1.26.9)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from requests) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from requests) (3.3)
Requirement already satisfied: bs4 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Users/olaf/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->bs4) (2.3.1)

In [4]:
#Creating a list for the Yahoo ticker names of the OMX stocks 
omx_tickers = ["COLO-B.CO", "CHR.CO", "TRYG.CO", "GN.CO", "ROCK-B.CO", "GMAB.CO", "FLS.CO", "NOVO-B.CO", "MAERSK-B.CO", "DSV.CO", "ISS.CO", "BAVA.CO", "NETC.CO", "MAERSK-A.CO", "CARL-B.CO", "ORSTED.CO", "RBREW.CO", "NZYM-B.CO", "DEMANT.CO", "NDA-DK.CO", "PNDORA.CO", "AMBU-B.CO", "DANSKE.CO", "VWS.CO", "JYSK.CO"]

# Use the yfinance library to retrieve the data for each ticker.
data = yf.download(omx_tickers, start='2010-01-01', end='2022-12-31')

# Create a pandas dataframe from the retrieved data
df_daily = pd.DataFrame(data)
df_daily

[*********************100%***********************]  25 of 25 completed

            Adj Close                                                  \
            AMBU-B.CO     BAVA.CO   CARL-B.CO      CHR.CO   COLO-B.CO
Date
2010-01-04   5.007598   93.714554  313.378265         NaN   72.031273
2010-01-05   4.961657   93.714554  314.856598         NaN   69.485481
2010-01-06   5.191364  101.551308  309.391266         NaN   71.282516
2010-01-07   5.053540  101.551308  312.580902         NaN   72.181030
2010-01-08   5.099481   94.694145  313.378265         NaN   71.881523
...               ...         ...         ...         ...         ...
2022-12-16  88.720001  208.100006  907.000000  508.600006  836.000000
2022-12-19  88.480003  207.399994  911.400024  512.200012  817.200012
2022-12-20  87.059998  205.800003  908.000000  508.000000  809.799988
2022-12-21  88.199997  210.500000  917.799988  508.000000  820.400024
2022-12-22  88.639999  208.800003  921.799988  498.000000  812.400024

                                                                          ...  \
             DANSKE.CO   DEMANT.CO       DSV.CO      FLS.CO      GMAB.CO  ...
Date                                                                      ...
2010-01-04   75.971191   78.000000    89.110451  293.015320    92.000000  ...
2010-01-05   78.482635   77.000000    89.064026  289.625702    89.599998  ...
2010-01-06   79.424431   76.339996    93.287498  282.394470    88.750000  ...
2010-01-07   81.935875   77.000000    93.751617  283.222992    88.000000  ...
2010-01-08   83.191597   78.019997    94.401382  283.147644    89.000000  ...
...                ...         ...          ...         ...          ...  ...
2022-12-16  130.050003  181.300003  1084.000000  232.300003  3053.000000  ...
2022-12-19  130.199997  180.649994  1088.500000  234.000000  3034.000000  ...
2022-12-20  131.250000  178.600006  1076.500000  234.100006  3030.000000  ...
2022-12-21  134.149994  181.750000  1089.500000  241.399994  3004.000000  ...
2022-12-22  136.750000  182.000000  1078.000000  242.600006  3002.000000  ...

              Volume                                                     \
           NDA-DK.CO   NETC.CO  NOVO-B.CO NZYM-B.CO ORSTED.CO PNDORA.CO
Date
2010-01-04    844025       NaN  3683760.0    692320       NaN       NaN
2010-01-05   1142446       NaN  4167995.0    878675       NaN       NaN
2010-01-06    163501       NaN  4686515.0    586310       NaN       NaN
2010-01-07   1321570       NaN   234445.0     70940       NaN       NaN
2010-01-08    262138       NaN   294945.0   1063710       NaN       NaN
...              ...       ...        ...       ...       ...       ...
2022-12-16   1323968  361569.0  2778388.0    866650  781604.0  521997.0
2022-12-19    509415   89358.0  1687712.0    458793  327016.0  171799.0
2022-12-20    471715  150747.0  1124737.0    429821  340123.0  218396.0
2022-12-21    286612  159027.0  1378766.0    401095  283683.0  178343.0
2022-12-22    437242  120248.0   513142.0    192432  107963.0  143048.0


           RBREW.CO ROCK-B.CO  TRYG.CO   VWS.CO
Date
2010-01-04    63230     54658   264700  6862660
2010-01-05    23270      6387    52030  1607320
2010-01-06   173030      8474    27490   683490
2010-01-07    34395      3972  1566390  6365650
2010-01-08    53665     22034   101085  4956735
...             ...       ...      ...      ...
2022-12-16   170085     54838   966742  3711356
2022-12-19    76168     34313   466626  1172158
2022-12-20   119186     37061   442918  2206281
2022-12-21   117029     34658   475182  1343059
2022-12-22    68627     24793   276177   560066

[3243 rows x 150 columns]

### Converting from wide to long format

In [5]:
#Creating two seperate dataframes for sales volume and close price.
df_daily_volume = df_daily['Volume'].reset_index().melt(id_vars=["Date"])
df_daily_close = df_daily['Adj Close'].reset_index().melt(id_vars=["Date"])


#Renaming columns
df_daily_volume = df_daily_volume.rename(columns={"variable": "Ticker", "value": "Volume"})
df_daily_close = df_daily_close.rename(columns={"variable": "Ticker", "value": "Close"}) 

#Joining the two tables
df_daily_combined = pd.merge(df_daily_close, df_daily_volume, on=["Date", "Ticker"])

#Creating YearMo column, to be used as key to inflation df. 
df_daily_combined['Year'] = df_daily_combined['Date'].dt.year.apply(str)
df_daily_combined['Month'] = df_daily_combined['Date'].dt.month.apply(lambda x: str(x).zfill(2)) #lambda used for leading 0
df_daily_combined['YearMo'] = df_daily_combined['Year'] +'-' + df_daily_combined['Month']

df_daily_combined

            Date     Ticker       Close     Volume  Year Month   YearMo
0     2010-01-04  AMBU-B.CO    5.007598   124420.0  2010    01  2010-01
1     2010-01-05  AMBU-B.CO    4.961657   910560.0  2010    01  2010-01
2     2010-01-06  AMBU-B.CO    5.191364    51220.0  2010    01  2010-01
3     2010-01-07  AMBU-B.CO    5.053540    39060.0  2010    01  2010-01
4     2010-01-08  AMBU-B.CO    5.099481    69160.0  2010    01  2010-01
...          ...        ...         ...        ...   ...   ...      ...
81070 2022-12-16     VWS.CO  193.619995  3711356.0  2022    12  2022-12
81071 2022-12-19     VWS.CO  196.839996  1172158.0  2022    12  2022-12
81072 2022-12-20     VWS.CO  191.000000  2206281.0  2022    12  2022-12
81073 2022-12-21     VWS.CO  193.759995  1343059.0  2022    12  2022-12
81074 2022-12-22     VWS.CO  196.399994   560066.0  2022    12  2022-12

[81075 rows x 7 columns]

## Data Cleaning

In [6]:
# Counting the number of missing values in each column for the long dataframe
null_counts_long = df_daily_combined.isna().sum()
print(null_counts_long)
#This gives 4942 for all continious columns


# Counting the number of missing values in each column for the wide/imported dataframe
null_counts_wide = df_daily[['Adj Close', 'Volume']].isna().sum()
#print(null_counts_wide)
print(sum(null_counts_wide))
#Gets 9884 /2 = 4942, so long == Wide in terms of NA. I see the largest amount of NaN values for Net Company
#Which makes logical sense, as they have not been publicly traded for the whole duration. Furhtermore, volume = adj Close, 
#So it can be assumed that NAN is across all continuous columns (meaning either all are NaN or None are NaN). 
#Deleting missing rows is suitable for the long DF, as records will not be lost for the other stocks, but first I will check if there 
#are any values that are not missing due to the stock not being traded

Date         0
Ticker       0
Close     4942
Volume    4942
Year         0
Month        0
YearMo       0
dtype: int64
9884

### Checking for Missing values that are between two Non-NaN values

In [7]:
# Shifting the "Close" column up and down by one row

df_daily_combined["Close_shift_up"] = df_daily_combined["Close"].shift(1)
df_daily_combined["Close_shift_down"] = df_daily_combined["Close"].shift(-1)

# Creating a boolean mask indicating rows with missing values between non-missing values
mask = df_daily_combined["Close"].isna() & df_daily_combined["Close_shift_up"].notna() & df_daily_combined["Close_shift_down"].notna()

# Using the mask to filter the rows with missing values between non-missing values
df_filtered = df_daily_combined[mask]

# The resulting DataFrame will only include rows with missing values between non-missing values
df_filtered
df_daily_combined[55210:55230]


#Here I find only one missing observation, for Novo Nordisk, which proves a pretty sound dataframe. 
#As only one observation is missing, It will be decided to drop all Na.

,Date,Ticker,Close,Volume,Year,Month,YearMo,Close_shift_up,Close_shift_down
55210,2010-04-29,NOVO-B.CO,70.590828,7569490.0,2010,04,2010-04,68.089470,72.509071
55211,2010-05-03,NOVO-B.CO,72.509071,4708340.0,2010,05,2010-05,70.590828,73.000137
55212,2010-05-04,NOVO-B.CO,73.000137,6101230.0,2010,05,2010-05,72.509071,72.739243
55213,2010-05-05,NOVO-B.CO,72.739243,5750220.0,2010,05,2010-05,73.000137,71.143280
55214,2010-05-06,NOVO-B.CO,71.143280,8669745.0,2010,05,2010-05,72.739243,69.056252
55215,2010-05-07,NOVO-B.CO,69.056252,11640930.0,2010,05,2010-05,71.143280,70.744293
55216,2010-05-10,NOVO-B.CO,70.744293,8071090.0,2010,05,2010-05,69.056252,71.925911
55217,2010-05-11,NOVO-B.CO,71.925911,4003290.0,2010,05,2010-05,70.744293,72.416985
55218,2010-05-12,NOVO-B.CO,72.416985,6215810.0,2010,05,2010-05,71.925911,NaN
55219,2010-05-14,NOVO-B.CO,NaN,NaN,2010,05,2010-05,72.416985,72.892708
55220,2010-05-17,NOVO-B.CO,72.892708,6925930.0,2010,05,2010-05,NaN,72.815971
55221,2010-05-18,NOVO-B.CO,72.815971,3675375.0,2010,05,2010-05,72.892708,71.373466
55222,2010-05-19,NOVO-B.CO,71.373466,3997890.0,2010,05,2010-05,72.815971,69.731468
55223,2010-05-20,NOVO-B.CO,69.731468,5664815.0,2010,05,2010-05,71.373466,67.598396
55224,2010-05-21,NOVO-B.CO,67.598396,9424665.0,2010,05,2010-05,69.731468,69.025558
55225,2010-05-25,NOVO-B.CO,69.025558,10167915.0,2010,05,2010-05,67.598396,70.483429
55226,2010-05-26,NOVO-B.CO,70.483429,5922820.0,2010,05,2010-05,69.025558,71.465553
55227,2010-05-27,NOVO-B.CO,71.465553,4650710.0,2010,05,2010-05,70.483429,71.741760
55228,2010-05-28,NOVO-B.CO,71.741760,5966245.0,2010,05,2010-05,71.465553,71.741760
55229,2010-05-31,NOVO-B.CO,71.741760,2298485.0,2010,05,2010-05,71.741760,71.603676

In [8]:
#dropping missing values
df_daily_combined = df_daily_combined.dropna().reset_index(drop=True)

### Adjusting for inflation

In [9]:
######Creating a dataframe for yearly inflation


#Importing the danish YoY CPI change dataset

inflation_df = pd.read_csv('DK inflation.csv', delimiter=";")

#Splitting the YearMonth column into two 
inflation_df[['Year','Month']] = inflation_df['TID'].str.split('M',expand=True)

#Convert the inflation column into float, inorder to be used for calculations
inflation_df['INDHOLD'] = inflation_df['INDHOLD'].str.replace(',', '.') .astype(float)
inflation_df = inflation_df.rename(columns={"INDHOLD": "Inflation"})

#Adding a YearMonth column
inflation_df['YearMo'] = inflation_df['Year'] + '-' + inflation_df['Month']
#Selecting only the neccesary columns
inflation_df = inflation_df[['Year','Month','YearMo','Inflation']]

#As the dataframe does not have inflationnumber for december 2022, it will be manually added
inflation_df.loc[251] = ["2022", "12", "2022-12", 9.7]
inflation_df

     Year Month   YearMo  Inflation
0    2002    01  2002-01        2.5
1    2002    02  2002-02        2.5
2    2002    03  2002-03        2.6
3    2002    04  2002-04        2.6
4    2002    05  2002-05        2.0
..    ...   ...      ...        ...
247  2022    08  2022-08        8.9
248  2022    09  2022-09       10.0
249  2022    10  2022-10       10.1
250  2022    11  2022-11        8.9
251  2022    12  2022-12        9.7

[252 rows x 4 columns]

In [11]:
####Creating an inflation column to the daily prices dataframe

df_daily_combined['Adjusted Price'] = 0

for index, row in df_daily_combined.iterrows():
    # Getting the date and stock price for the current row
    YearMo = row["YearMo"]
    Close = row["Close"]
    
    # Looking up the corresponding inflation rate in the inflation dataset using the YearMo column
    inflation_row = inflation_df[inflation_df["YearMo"] == YearMo]
    #Gets the inflation number
    Inflation = inflation_row["Inflation"].iloc[0]
    # Calculate the inflation-adjusted price for the stock price
    adjusted_price = Close / (1 + (Inflation/100))
    
    # Store the inflation-adjusted price in the new column in the daily stock price dataset
    df_daily_combined.at[index, "Adjusted Price"] = adjusted_price

df_daily_combined

,Date,Ticker,Close,Volume,Year,Month,YearMo,Close_shift_up,Close_shift_down,Adjusted Price
0,2010-01-05,AMBU-B.CO,4.961657,910560.0,2010,01,2010-01,5.007598,5.191364,4.864370
1,2010-01-06,AMBU-B.CO,5.191364,51220.0,2010,01,2010-01,4.961657,5.053540,5.089572
2,2010-01-07,AMBU-B.CO,5.053540,39060.0,2010,01,2010-01,5.191364,5.099481,4.954451
3,2010-01-08,AMBU-B.CO,5.099481,69160.0,2010,01,2010-01,5.053540,5.191364,4.999491
4,2010-01-11,AMBU-B.CO,5.191364,54420.0,2010,01,2010-01,5.099481,5.168393,5.089572
...,...,...,...,...,...,...,...,...,...,...
76114,2022-12-15,VWS.CO,201.649994,1891757.0,2022,12,2022-12,205.949997,193.619995,183.819502
76115,2022-12-16,VWS.CO,193.619995,3711356.0,2022,12,2022-12,201.649994,196.839996,176.499540
76116,2022-12-19,VWS.CO,196.839996,1172158.0,2022,12,2022-12,193.619995,191.000000,179.434819
76117,2022-12-20,VWS.CO,191.000000,2206281.0,2022,12,2022-12,196.839996,193.759995,174.111212
76118,2022-12-21,VWS.CO,193.759995,1343059.0,2022,12,2022-12,191.000000,196.399994,176.627160

## Adding Daily Technical metrics

In [12]:
#Adding DMA columsn to the dataframe.

df_daily_combined["DMA30"] = df_daily_combined["Close"].rolling(30).mean()
df_daily_combined["DMA50"] = df_daily_combined["Close"].rolling(50).mean()
df_daily_combined["DMA200"] = df_daily_combined["Close"].rolling(200).mean()

## Stock dimensions

In [49]:
stock = yf.Ticker(omx_tickers[0])
info = stock.info

# print(info.keys())
#print(info['longname'])

# for ticker in omx_tickers:
#     'symbol', 'longname', 'industry', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 
#     'operatingMargins', 'ebitda','debtToEquity', 'returnOnEquity', 'totalCash', 'totalDebt', 'totalRevenue', 'totalcashPerShare',
#      'totalAssets' 

#Creating an empty dataframes with the neccessary information about each stock 
info_df = pd.DataFrame()
columns = ['longName', 'symbol', 'industry','sector',  'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 
           'operatingMargins', 'ebitda','debtToEquity', 'returnOnEquity', 'totalCash','totalDebt', 'totalRevenue', 'totalCashPerShare',
           'totalAssets', 'sector']
    
for ticker in omx_tickers:
    stock = yf.Ticker(ticker)
    info = stock.info
    #Selecting only the desired keys
    stock_new_dict = {key: info[key] for key in columns}

    df_dictionary = pd.DataFrame([stock_new_dict])
    info_df = pd.concat([info_df, df_dictionary], ignore_index=True)
info_df

,longName,symbol,industry,sector,ebitdaMargins,profitMargins,grossMargins,operatingCashflow,revenueGrowth,operatingMargins,ebitda,debtToEquity,returnOnEquity,totalCash,totalDebt,totalRevenue,totalCashPerShare,totalAssets
0,Coloplast A/S,COLO-B.CO,Medical Instruments & Supplies,Healthcare,0.33411,0.20842,0.68776,5098999808,0.188,0.30644,7544000000,225.615,0.57181,633000000,18708000768,22578999296,2.982,None
1,Chr. Hansen Holding A/S,CHR.CO,Specialty Chemicals,Basic Materials,0.33268,0.18481,0.55542,308800000,0.118,0.26749,405200000,52.821,0.13049,82800000,963400000,1218000000,0.629,None
2,Tryg A/S,TRYG.CO,Insurance—Diversified,Financial Services,0.12271,0.08608,0.17013,5902000128,0.168,0.10282,3615000064,15.165,0.05498,1667000064,6682999808,29460000768,2.602,None
3,GN Store Nord A/S,GN.CO,Medical Devices,Healthcare,0.11320,0.03825,0.50414,318000000,0.241,0.07775,1983000064,223.702,0.11108,870000000,16110999552,17517000704,6.799,None
4,Rockwool A/S,ROCK-B.CO,Building Products & Equipment,Industrials,0.16157,0.06378,0.57433,337000000,0.267,0.10438,613000000,None,0.09871,210000000,0,3793999872,9.800,None
5,Genmab A/S,GMAB.CO,Biotechnology,Healthcare,0.39730,0.47168,1.00000,3755000064,0.769,0.37549,4762500096,2.36,0.23587,23787999232,629000000,11987000320,364.682,None
6,FLSmidth & Co. A/S,FLS.CO,Specialty Industrial Machinery,Industrials,0.07218,0.02933,0.24042,1041000000,0.206,0.05242,1479000064,28.299,0.05441,2271000064,3270000128,20489000960,40.027,None
7,Novo Nordisk A/S,NOVO-B.CO,Biotechnology,Healthcare,0.46442,0.31595,0.84194,68768997376,0.279,0.43095,77649002496,33.867,0.73989,37473001472,25969000448,167195000832,16.569,None
8,A.P. Møller - Mærsk A/S,MAERSK-B.CO,Marine Shipping,Industrials,0.44195,0.36906,0.54102,34155999232,0.371,0.39488,36335001600,25.774,0.60897,8334000128,15523999744,82215002112,464.322,None
9,DSV A/S,DSV.CO,Integrated Freight & Logistics,Industrials,0.11030,0.06923,0.21229,25423998976,0.222,0.10395,27104999424,49.689,0.22143,12885999616,39864999936,245735997440,57.661,None
10,ISS A/S,ISS.CO,Specialty Business Services,Industrials,0.03566,0.01707,0.92153,2380000000,0.059,0.02723,2617999872,170.854,0.14555,4505999872,16812000256,73413001216,24.392,None
11,Bavarian Nordic A/S,BAVA.CO,Biotechnology,Healthcare,-0.00426,-0.24924,0.37876,-108780000,1.237,-0.14685,-10247000,13.872,-0.09416,3241577984,965174016,2404286976,53.544,None
12,Netcompany Group A/S,NETC.CO,Information Technology Services,Technology,0.18251,0.10496,0.31643,536963968,0.689,0.14514,944956032,67.7,0.17663,223639008,2264613120,5177459200,4.551,None
13,A.P. Møller - Mærsk A/S,MAERSK-A.CO,Marine Shipping,Industrials,0.44195,0.36906,0.54102,34155999232,0.371,0.39488,36335001600,25.774,0.60897,8334000128,15523999744,82215002112,464.322,None
14,Carlsberg A/S,CARL-B.CO,Beverages—Brewers,Consumer Defensive,0.21643,-0.01985,0.46290,15900000256,0.236,0.15946,15888000000,86.79,0.21153,13287000064,32724000768,73409003520,94.265,None
15,Ørsted A/S,ORSTED.CO,Utilities—Renewable,Utilities,0.17076,0.14636,0.25863,-8322999808,1.518,0.10451,21731000320,135.387,0.27960,28220999680,72806998016,127263997952,67.165,None
16,Royal Unibrew A/S,RBREW.CO,Beverages—Brewers,Consumer Defensive,0.17504,0.13886,0.44158,1290000000,0.354,0.13841,1938749952,92.295,0.37474,176000000,4540000256,11075999744,3.557,None
17,Novozymes A/S,NZYM-B.CO,Specialty Chemicals,Basic Materials,0.32554,0.20275,0.55273,4116999936,0.161,0.25371,5488000000,49.178,0.26791,1376999936,6905999872,16858000384,4.984,None
18,Demant A/S,DEMANT.CO,Medical Devices,Healthcare,0.19175,0.12477,0.75119,2571000064,0.086,0.16641,3670000128,163.991,0.30901,1244999936,13420999680,19139000320,5.461,None
19,Nordea Bank Abp,NDA-DK.CO,Banks—Regional,Financial Services,0.00000,0.36660,0.00000,-20793999360,0.068,0.48366,None,None,0.09909,119565000704,238029996032,9148999680,32.254,None
20,Pandora A/S,PNDORA.CO,Luxury Goods,Consumer Cyclical,0.26782,0.17827,0.76126,4432000000,0.113,0.23448,6861000192,166.138,0.70256,260000000,9434999808,25617999872,2.763,None
21,Ambu A/S,AMBU-B.CO,Medical Devices,Healthcare,0.05918,0.02093,0.57471,95000000,0.134,0.02745,263000000,43.3,0.02265,187000000,1844999936,4444000256,0.736,None
22,Danske Bank A/S,DANSKE.CO,Banks—Regional,Financial Services,0.00000,-0.12598,0.00000,-14968000512,-0.097,0.29398,None,None,-0.03359,920600969216,1755687944192,44346998784,1082.193,None
23,Vestas Wind Systems A/S,VWS.CO,Specialty Industrial Machinery,Industrials,0.00891,-0.06966,0.05332,-845000000,-0.293,-0.03003,127000000,65.146,-0.23379,1139000064,2428000000,14254000128,1.129,None
24,Jyske Bank A/S,JYSK.CO,Banks—Regional,Financial Services,0.00000,0.32202,0.00000,17763000320,-0.073,0.41963,None,None,0.07711,153447006208,460927008768,9251000320,2388.243,None

## Saving to CSV

In [27]:
today = datetime.date.today()
df_daily_combined.to_csv(f"OMX_daily_{today}.csv", encoding="utf-8")

In [50]:
info_df.to_csv('omx25info.csv')